@charset "ISO-8859-1";
body{
 
 
background-image:url("../images/homepage.jpg");
 
 
 
 
 
 
background-repeat:no-repeat;




background-size:cover;
 
} 
div{
	margin-top: 200px;
	 
}
#j{
	 color:green;
	
}
 