@charset "ISO-8859-1";
body{
 
 
 background-image:url("../images/login4.jpg");
 
 
 
 
 
 
background-repeat:no-repeat;




background-size:cover;
 
}
 
 
form{
margin-top: 245px ;
background:skyblue;
margin-left: 300px;
margin-right: 500px;
 padding-left:10px;
 background-image:url("../images/park2.jpg");
 
 
 
 
 
 
background-repeat:no-repeat;




background-size:220px;
   

























































}
#i{
background:blue;
color:red;
margin-left: 100px;
}
 
 #b{
 margin-left: 100px;
 color: black;
 
 }
 #k
{
	 margin-left: 100px;
 color: blue;  
 
}
 
  

	
